{% extends "base.html" %}
{% block content %}
<title>Change Password – GCInsights</title>
  <style>

  .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      overflow-x: auto;
      font-family: 'Times New Roman', Times, serif;
      box-sizing: border-box;
      margin-left: 240px;
      margin-top: 80px;
      background-color: #e5edf1;
      padding: 20px 30px;
      text-align: center;
      min-height: calc(100vh - 60px);
  }


  h2 {
    text-align: center;
    color: #195187;
    margin-bottom: 25px;
    font-size: 26px;
  }

  .flash-message {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .flash-success {
    color: green;
  }

  .flash-error {
    color: red;
  }

  label {
    display: block;
    font-size: 14px;
    margin-top: 20px;
  }

  input[type="password"] {
    width: 40%;
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  button {
    display: block;
    margin-top: 10px;
    margin: 30px auto 0 auto;
    width: 40%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #267DF4;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  </style>

  <div class="wrapper">
    <div class="form-section">
      <h2>Change Password</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash-message {{ 'flash-success' if category == 'success' else 'flash-error' }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="POST">
        <label>Current Password</label>
        <input type="password" name="current_password" placeholder="Enter current password" required>

        <label>New Password</label>
        <input type="password" id="password" name="password" class="form-control" 
            pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" 
            title="Password must be at least 8 characters long and contain at least one letter and one number." placeholder="Enter new password"
            required>

        <label>Confirm New Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm new password" required>

        <button type="submit">Update Password</button>
      </form>
    </div>
  </div>
<script>
  const password = document.getElementById("password");
  password.addEventListener("input", function () {
    const value = password.value;
    const message = "Password must be at least 8 characters and include letters and numbers.";
    if (!/(?=.*\d)(?=.*[a-zA-Z]).{8,}/.test(value)) {
      password.setCustomValidity(message);
    } else {
      password.setCustomValidity("");
    }
  });
</script>
{% endblock %}
